
<html lang="en">
    <head>
        <title>SelectPark</title>
        <link rel="Stylesheet" href="StyleMain.css"/>
        <link rel="icon" type="image/x-icon" href="Images/favicon.ico.png">
    </head>
    <body>
        <header>
            <nav>
                <button>
                    <a href="/login">Login Profile </a> 
                </button>| 
                <button>
                    <a href="/signup">Create a Profile</a>
                </button>
            </nav>
    </body>

</html>